@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap');

* {
  font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Oxygen-Sans,Ubuntu,Cantarell,'Helvetica Neue',sans-serif;
  font-size: 15px;
  line-height: 1.4em;
  color: #525f7f;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: none;
}

form[v-cloak]>div, h1[v-cloak] {
  display: none;
}

form[v-cloak]::before, h1[v-cloak]::before {
  content: "Cargando...";
}

body {
  margin: 0;
  background: #f8fbfd;
  font-weight: 400;
  line-height: 1.5;
}

input::-webkit-inner-spin-button,input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5!important;
}

h2 {
  line-height: 1.2;
}

.app {
  padding-top: 30px;
  padding-bottom: 30px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #f3f3ff;
  padding: 20px 0;
}

.container {
  max-width: 1140px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: .5rem;
  margin-right: .5rem;
}

.col-left {
  order: 0;
  flex-grow: 8;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 480px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s,opacity .5s linear .5s;
}

.d-none {
  display: none!important;
}

.app .col-left,.app .col-right {
  visibility: visible;
  opacity: 1;
}

.col-right {
  order: 1;
  flex-grow: 4;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 424px;
  margin: 0 auto;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s,opacity .5s linear .5s;
}

@media only screen and (max-width:600px) {
  .col-left,.col-right {
    width: 100%
  };
}

fieldset label,section {
  position: relative;
  display: flex;
}

section {
  flex-direction: column;
  text-align: left;
}

fieldset,h1 {
  margin: 0 0 20px;
}

h1 {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-top: 10px;
  margin-bottom: 0;
}

h2 {
  margin: 15px 0;
  color: #32325d;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-size: 13px;
  font-weight: 500;
}

.form-group {
  margin-bottom: 1rem;
}

fieldset {
  min-width: 0;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(50,50,93,.15),0 4px 6px 0 rgba(112,157,199,.15);
  border-radius: 4px;
  border: 0;
  font-size: 0;
}

fieldset label {
  flex-direction: row;
  height: 42px;
  padding: 10px 0;
  align-items: center;
  justify-content: center;
  color: #8898aa;
  font-weight: 400;
  margin-bottom: 0;
}

fieldset label:not(:last-child) {
  border-bottom: 1px solid #f0f5fa;
}

fieldset label span {
  min-width: 120px;
  padding: 0 15px;
  text-align: right;
}

fieldset .redirect label span {
  width: 100%;
  text-align: center;
}

.field {
  flex: 1;
  padding: 0 15px;
  background: 0 0;
  font-weight: 400;
  color: #31325f;
  outline: 0;
  cursor: text;
}

.field::-webkit-input-placeholder {
  color: #aab7c4;
}

.field::-moz-placeholder {
  color: #aab7c4;
}

.field:-ms-input-placeholder {
  color: #aab7c4;
}

fieldset .currency::after,fieldset .select::after {
  content: '';
  position: absolute;
  width: 9px;
  height: 5px;
  right: 14px;
  top: 50%;
  margin-top: -2px;
  background-image: url("/images/dropdown.svg");
  pointer-events: none;
}

input,select {
  flex: 1;
  border-style: none;
  outline: 0;
  color: #313b3f;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background: 0 0;
}

select:focus {
  color: #037690;
}

::-webkit-input-placeholder {
  color: #cfd7e0;
}

::-moz-placeholder {
  color: #cfd7e0;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #cfd7e0;
}

input:-webkit-autofill,select:-webkit-autofill {
  -webkit-text-fill-color: #037690;
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out 1s;
}

button.payment-button {
  display: block;
  background: #00b2c4;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  width: 100%;
  height: 40px;
  outline: 0;
  cursor: pointer;
  transition: all .15s ease;
}

button.payment-button:focus {
  background: #7fc7d5;
}

button.payment-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 7px 14px 0 rgba(50,50,93,.1),0 3px 6px 0 rgba(0,0,0,.08);
}

button.payment-button:active {
  background: #037690;
}

fieldset label.amount {
  display: inline-flex;
  width: 64%;
  border-bottom: none;
  padding-left: 12px;
}

fieldset label.amount input {
  line-height: 1.4rem;
  font-size: 30px;
  overflow: hidden;
}

.currency {
  display: flex;
  align-items: center;
  position: relative;
}

.currency select {
  margin: 0 -15px 0 -30px;
  padding: 0 15px 0 30px;
}

.currency::before {
  display: inline-flex;
  content: '';
  width: 21px;
  height: 15px;
  background: url("/images/flags.svg");
  background-position: -1000px -1000px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* Confirmation dialog CSS */

.confirmation-mask {
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: auto minmax(300px, 500px) auto;
  grid-template-rows: auto minmax(400px,500px) auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.confirmation-wrapper {
  grid-column: 2/3;
  grid-row: 2/3;
}

.confirmation-container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.33);
  height: 100%;
  padding: 20px 30px;
  /* width: 100%; */
  margin: 0 20px;
}

.confirmation-body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.confirmation-body * {
  margin: 0;
}

.confirmation-body .confirmation-amount {
  font-family: 'Ubuntu Mono', monospace;
  color: #3D9970;
  font-size: clamp(1.9rem,8vw,2.9rem);
  text-align: center;
}

.confirmation-body .confirmation-amount::after {
  content: "";
  width: 30%;
  background: #3D9970;
  height: 4px;
  display: block;
  margin: 10px auto 0 auto;
}

.confirmation-body .email-thanks {
  text-align: center;
}

.confirmation-body .confirmation-email {
  text-align: center;
  font-weight: bolder;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  margin-top: -1.8rem;
  font-size: clamp(1rem,10vw,1.1rem);
}

.confirmation-body h3 {
  text-align: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.confirmation-close-button {
  text-transform: uppercase;
  margin: 0px auto;
  width: 100%;
  border: none;
  background: #637f82;
  color: #fff;
  box-shadow: 0 4px 6px rgba(50,50,93,.11),0 1px 3px rgba(0,0,0,.08);
  border-radius: 4px;
  height: 40px;
}


/* Stripe supported currencies: https://stripe.com/docs/currencies */

/* US dollar */
.usd::before {
  background-position: -10px -185px;
}

/* Peso argentino */
.ars::before {
  background-position: -134px -10px;
}

/* Australian dollar */
.aud::before {
  background-position: -196px -10px;
}

/* Boliviano */
.bob::before {
  background-position: -320px -10px;
}

/* Real (Brasil) */
.brl::before {
  background-position: -351px -10px;
}

/* Canadian Dollar */
.cad::before {
  background-position: -382px -10px;
}

/* Peso chileno */
.clp::before {
  background-position: -506px -10px;
}

/* Swiss franc */
.chf::before {
  background-position: -475px -10px;
}

/* Chinese Yuan */
.cny::before {
  background-position: -41px -35px;
}

/* Peso colombiano */
.cop::before {
  background-position: -72px -35px;
}

/* Euros */
.eur::before {
  background-position: -413px -35px;
}

/* GBP */
.gbp::before {
  background-position: -41px -60px;
}

/* Hong Kong Dollar  */
.hkd::before {
  background-position: -227px -60px;
}

/* Lempira (Honduras)  */
.hnl::before {
  background-position: -258px -60px;
}

/* Japanese Yen  */
.jpy::before {
  background-position: -196px -85px;
}

/* Peso mexicano */
.mxn::before {
  background-position: -289px -110px;
}

/* Córdoba (Nicaragua)  */
.nio::before {
  background-position: -444px -110px;
}

/* Peso uruguayo  */
.uyu::before {
  background-position: -41px -185px;
}




fieldset .currency-label {
  width: 32%;
  display: inline-flex;
}

.messages {
  display: flex;
  justify-content: center;
}

.element-message {
  display: inline-flex;
  height: 20px;
  margin: 15px auto 0;
  padding-left: 20px;
  transform: translateY(10px);
  transition-property: opacity,transform;
  transition-duration: .35s;
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

.element-errors {
  color: #e25950;
  background: url("/images/error.svg") center left no-repeat;
}

.element-success {
  color: #28a745;
  background: url("/images/success.svg") center left no-repeat;
}

.element-errors,.element-success {
  background-size: 15px 15px;
  background-position-y: 3px;
}

/* Footer */

footer p {
  text-align: center;
}

footer a, footer p {
  font-size: 12px;
}
